{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Пользователи{% endblock title %}

{% block content %}
    <h1>Пользователи</h1>
    <div id='people-list'>
        {% for user in users %}
            <div class='user'>
                <a href='{{ user.get_absolute_url }}'>
                    {% if user.profile.photo %}
                        <img src='{% thumbnail user.profile.photo 180x180 %}'>
                    {% else %}
                        НЕТ ФОТОГРАФИИ ПРОФИЛЯ
                    {% endif %}
                </a>
                <div class='info'>
                    <a href='{{ user.get_absolute_url }}'>
                        {{ user.get_full_name }}
                    </a>
                </div>
            </div>
        {% endfor %}
        </div>
{% endblock content %}