{% extends "base.html" %}

{% block title %}Панель{% endblock %}

{% block content %}
    <h1>Панель управления</h1>
    {% with total_images_created=request.user.images_created.count %}
        <p>
            Добро пожаловать в панель управления.
            У вас {{ total_images_created }} изображений.
        </p>
    {% endwith %}
    <p>
        Перетащите следующую кнопку на панель инструментов закладок, чтобы добавить в закладки изображения с других веб-сайтов →
        <a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">Добавьте его в закладки</a>
        При нажатии кнопки на других сайтах, будут показаны изоображения, которые можно сохранить на нашем портале.
    </p>
    <p>Также вы можете <a href='{% url "edit" %}'>изменить свой профиль</a></p>
    <p>А так же <a href='{% url "password_change" %}'>поменять пароль</a>.</p>
{% endblock %}